@define-color base00 #181818;
@define-color base01 #110170;/* Active Workspace */
@define-color base02 #004687;/* Block background */
@define-color base03 #585858;/* Dark font  */
@define-color base04 #040215;/* Background */
@define-color base05 #c0c7b0;/* Light font */
@define-color base06 #e8e8e8;/* Mute font */
@define-color base07 #f8f8f8;/* Background */
@define-color base08 #ab4642;
@define-color base09 #dc9656;
@define-color base0A #f7ca88;
@define-color base0B #a1b56c;
@define-color base0C #86c1b9;
@define-color base0D #7cafc2;
@define-color base0E #ba8baf;
@define-color base0F #a16946;

* {
  transition: none;
  box-shadow: none;
}

#waybar {
	font-family: 'Cascadia Code', sans-serif;
	font-size: 1.0em;
	font-weight: 400;
  color: @base05;
  background: @base04;
}

#workspaces button {
  margin: 0 0;
  padding: 0 4px;
  color: @base05;
}

#workspaces button.visible {
}

#workspaces button.active {
  border-radius: 4px;
  background-color: @base01;
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#tray {
  margin: 4px 4px 4px 4px;
  border-radius: 4px;
  background-color: @base02;
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid @base00;
}

#ltray *:first-child {
  border-left: none;
}

#mode, #battery, #cpu, #workspaces, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-updates, #custom-weather, #custom-mail, #temperature, #language{
  margin: 4px 4px;
  padding: 2px 2px;
  background-color: @base02;
  border-radius: 4px;
  min-width: 20px;
}

#idle_inhibitor {
    padding: 2px 7px;
}

#pulseaudio.muted {
  color: @base0F;
}

#pulseaudio.bluetooth {
  color: @base0C;
}

#clock {
  margin-right: 4px;
  background-color: @base02;
  border-radius: 4px;
  min-width: 20px;
  margin: 4px 4px;
  padding: 0 5px;
}

#window {
  font-size: 0.9em;
	font-family: 'CaskaydiaCove NF SemiBold', sans-serif;
	font-size: 1.0em;
	font-weight: 400;
  color: @base05;
}
